@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
header
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 151px;
    height: 100px;
}
header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(15, 14, 14);
    position: sticky;
    top: 0;

}
nav .onglets .link a{
    color: rgb(223, 213, 213);
}
nav h1{
    font-size: 20px;
    color: rgb(30, 182, 253);
}
nav .onglets{
    display: flex;
    flex-wrap: wrap;
    
}
nav .onglets p{
    font-size: 17px;
    margin-right: 20px;
    cursor: pointer;
    color: #f2f2f2;
}
nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}
/*pied de page*/
footer{
    margin-top: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
footer .social-media{
    display: flex;
}
footer .social-media p{
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
}
footer .social-media p img{
    width: 20px;
    height: 20px;
}
/* fin de pied de page*/

/* Header*/
        header{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        header h1{
            font-size: 30px;
            max-width: 500px;
            text-align: center;
        }
/* fin Header*/

table .tr .td .del{
    color: rgb(207, 16, 16);
}